[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Categories=JVRC;Application;
Name=Task.R2-C
GenericName=JVRC Task R2-C
Icon=choreonoid.png
Path=/home/player/.jvrc/Task.R2C
Exec=/home/player/.jvrc/Task.R2C/10main.sh
Terminal=false
StartupNotify=true
StartupWMClass=
OnlyShowIn=Unity;
X-UnitGenerated=true
